<div class="row beerInformation">
					<div class="col-md-6">
						Beer Name: {{beer}}
					</div>
					<div class="col-md-6">
						<div id="beerName">Name response from user input 
						</div>
					</div>
				</div>

				<div class="row beerInformation">
					<div class="col-md-6">
						Brewery Name: {{brewery}}
					</div>
					<div class="col-md-6">
						<div id="beerBrewery">Brewery response from user input 
						</div>
					</div>
				</div>
		
				<div class="row beerInformation">
					<div class="col-md-6">
						Address:
					</div>
					<div class="col-md-6">
						<div id="beerAddress">Address response from user input 
						</div>
					</div>		
				</div>
			</div>

			<div class="col-md-4">
				<div id="beerContainer">
				  <div class="glass">
				    <div class="beer"></div>
				  </div>
				  <div class="head"></div>
				  <div class="hideB"></div>
				  <div class="pour"></div>
				</div>
			</div>

			<div class="col-md-4">
				<h2>Beer Traits</h2>
				
				<div class="row beerTraits">
					<div class="col-md-6">
						SRM: {{srmID}}
					</div>
					<div class="col-md-6">
						<div id="srm">SRM input 
						</div>
					</div>
				</div>

				<div class="row beerTraits">
					<div class="col-md-6">
						IBU:
					</div>
					<div class="col-md-6">
						<div id="ibu">IBU input 
						</div>
					</div>
				</div>
		
				<div class="row beerTraits">
					<div class="col-md-6">
						ABV:
					</div>
					<div class="col-md-6">
						<div id="abv">ABV input 
						</div>
					</div>		
				</div>